<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <div class="body createPost-body">
      <p>Create post</p>
      <form class="post-container">
        <div className="field">
          <p>Title</p>
          <input type="text" placeholder="Enter title of the post" />
        </div>
        <div className="field">
          <select data-placeholder="Choose category">
            <option value=""></option>
            <option>Doubt</option>
            <option>Informative</option>
          </select>
        </div>
        <div className="field">
          <p>Description</p>
          <input type="text" placeholder="Enter description of the post" />
        </div>
        <div className="field">
          <p>Select pictures for uploading (optional):</p>
          <input type="file" multiple /><br /><br />
        </div>
        <div className="field">
          <p>Provide links for references (optional):</p>
          <input type="text" placeholder="link name" multiple />
          <input type="text" placeholder="link" multiple />
          <input type="text" placeholder="link name" multiple />
          <input type="text" placeholder="link" multiple />
          <input type="text" placeholder="link name" multiple />
          <input type="text" placeholder="link" multiple />
        </div>
      </form>
    </div>
  </body>
</html>
