@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Roboto:wght@100;300;400&family=Ubuntu:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$outer-padding: 1.5em 2.5em;
$blue: #40669c;
$light-blue: #c6e7fc;
$light-blue-2: #a9ccff;
$light-blue-3: #2745e0;
$grayish-blue: #dedeff;
$dark-blue: #2a4365;
$darker-blue: #062653;
$dark-blue-1: #030246;
$dark-blue-2: #0d0c7b;
$dark-blue-3: #0c0b81;
$dark-blue-4: #1d1dab;
$dark-blue-5: #2d2dd2;

@mixin flex($jc) {
  display: flex;
  justify-content: $jc;
  align-items: center;
}

@mixin grid1() {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(25px, auto);
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.1;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

.icon {
  height: 30px;
}

li {
  list-style: none;
}

.flex-center {
  @include flex(center);
}

.body {
  // background-color: rgb(169, 204, 255);
  scroll-behavior: smooth;
}

.light {
  @apply bg-[#f8f8f8];
}

.dark {
  @apply bg-[#011027];
  textarea,
  input,
  .personal-info {
    @apply bg-transparent placeholder:text-gray-600;
    border-color: #0a2e64 !important;
  }
  .post,
  .profile-post,
  .single-post,
  #left-bar,
  #right-bar > nav,
  .createPost-body,
  .profile-body > .profile > .personal-info,
  .notice {
    @apply bg-[#051630] text-[#E7E9EA] border-[#07244f];
    .likes svg {
      path {
        stroke: #c8c8c8;
      }
    }
  }
  nav#left-bar {
    .nav-container {
      .menu-items {
        & > li:not(.logo-container):not(.toggle) {
          & > svg,
          path,
          rect,
          circle {
            stroke: #f8f8f8;
          }
          rect,
          rect + circle {
            fill: #c8c8c8;
          }
          &:not(.more-item) {
            @apply hover:bg-[#04193b];
          }
        }
      }
    }
  }
  .profile-body .profile .personal-info .options {
    .settings {
      @apply border-[#3B82F6];
    }
    .option-list {
      @apply bg-[#07234c];
      p:hover,
      div:hover {
        @apply bg-[#082a5b];
      }
    }
  }
}

.blue-circle {
  animation-delay: 0.1s;
}
.green-circle {
  animation-delay: 0.2s;
}
.red-circle {
  animation-delay: 0.3s;
}

// .container {
//   max-width: 1050px;
//   width: 90%;
//   margin: auto;
// }

// .overlapping-post-wrapper {
//   @apply relative z-20;
//   .overlapping-post {
//     // border: 1px solid black;
//     @apply px-8 py-4;
//     background-color: rgb(245, 243, 255);
//     height: 90vh;
//     width: 72vw;
//     position: fixed;
//     top: 50%;
//     left: 50%;
//     transform: translate(-34vw, -50%);
//     display: flex;
//     justify-content: space-between;
//     align-items: flex-start;

//     .left {
//       width: 48%;
//       height: 100%;
//       img {
//         width: 100%;
//         max-height: 75%;
//       }
//       .comment-2 {
//         margin: 1em auto;
//         textarea {
//           width: 80%;
//         }
//         input[type="submit"] {
//           width: 20%;
//         }
//       }
//       #desc {
//         @apply text-base;
//       }
//     }
//     .right {
//       height: 100%;
//       width: 48%;
//       overflow-y: auto;
//       .owner {
//         @apply flex justify-start items-center my-2;

//         .pfp-image {
//           @apply h-[6vh] w-[6vh] overflow-hidden flex justify-center items-center mr-[1em] rounded-[50%];
//           img {
//             @apply h-[6vh];
//           }
//         }
//         .username {
//           @apply font-semibold;
//         }
//         .deletePost {
//           @apply ml-0 text-[#c20505] cursor-pointer;
//         }
//         .editPost {
//           @apply mr-[1em] ml-[1em] text-[#4e67e4] cursor-pointer;
//         }
//       }
//       .replies {
//         #title2 {
//           font-size: 1.2rem;
//           font-weight: 500;
//           margin: 0.75em 0;
//         }
//         .line {
//           width: 90%;
//           height: 1px;
//           background-color: black;
//         }
//         // width: $image-width;
//         width: 100%;
//         margin: 0 auto;
//         overflow-y: auto;
//         width: 90%;
//         .reply {
//           margin: 1em 0;
//           span:nth-child(1) {
//             margin-right: 1em;
//             font-weight: 600;
//           }
//         }
//       }
//     }
//   }
// }

::-webkit-scrollbar {
  // width: 15px;
  width: 8px;
  height: 0;
  background: white;
}

::-webkit-scrollbar-track {
  border-radius: 100vw;
  // margin-top: 18px;
  background: white;
}

::-webkit-scrollbar-thumb {
  border: 1px solid $grayish-blue;
  border-radius: 100vw;
  background: $grayish-blue;
}

::-webkit-scrollbar-thumb:hover {
  background: $light-blue-2;
}

@supports (scrollbar-color: red blue) {
  * {
    scrollbar-color: $dark-blue-1 $blue;
  }
}

@media (max-width: 768px) {
  ::-webkit-scrollbar-track {
    margin-top: 0;
  }
}
