@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Roboto:wght@100;300;400&family=Ubuntu:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.1;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

.icon {
  height: 30px;
}

li {
  list-style: none;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.body {
  scroll-behavior: smooth;
}

.blue-circle {
  animation-delay: 0.1s;
}

.green-circle {
  animation-delay: 0.2s;
}

.red-circle {
  animation-delay: 0.3s;
}

.overlapping-post-wrapper {
  @apply relative z-20;
}
.overlapping-post-wrapper .overlapping-post {
  @apply px-8 py-4;
  background-color: rgb(245, 243, 255);
  height: 90vh;
  width: 72vw;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-34vw, -50%);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.overlapping-post-wrapper .overlapping-post .left {
  width: 48%;
  height: 100%;
}
.overlapping-post-wrapper .overlapping-post .left img {
  width: 100%;
  max-height: 75%;
}
.overlapping-post-wrapper .overlapping-post .left .comment-2 {
  margin: 1em auto;
}
.overlapping-post-wrapper .overlapping-post .left .comment-2 textarea {
  width: 80%;
}
.overlapping-post-wrapper .overlapping-post .left .comment-2 input[type=submit] {
  width: 20%;
}
.overlapping-post-wrapper .overlapping-post .left #desc {
  @apply text-base;
}
.overlapping-post-wrapper .overlapping-post .right {
  height: 100%;
  width: 48%;
  overflow-y: auto;
}
.overlapping-post-wrapper .overlapping-post .right .owner {
  @apply flex justify-start items-center my-2;
}
.overlapping-post-wrapper .overlapping-post .right .owner .pfp-image {
  @apply h-[6vh] w-[6vh] overflow-hidden flex justify-center items-center mr-[1em] rounded-[50%];
}
.overlapping-post-wrapper .overlapping-post .right .owner .pfp-image img {
  @apply h-[6vh];
}
.overlapping-post-wrapper .overlapping-post .right .owner .username {
  @apply font-semibold;
}
.overlapping-post-wrapper .overlapping-post .right .owner .deletePost {
  @apply ml-0 text-[#c20505] cursor-pointer;
}
.overlapping-post-wrapper .overlapping-post .right .owner .editPost {
  @apply mr-[1em] ml-[1em] text-[#4e67e4] cursor-pointer;
}
.overlapping-post-wrapper .overlapping-post .right .replies {
  width: 100%;
  margin: 0 auto;
  overflow-y: auto;
  width: 90%;
}
.overlapping-post-wrapper .overlapping-post .right .replies #title2 {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0.75em 0;
}
.overlapping-post-wrapper .overlapping-post .right .replies .line {
  width: 90%;
  height: 1px;
  background-color: black;
}
.overlapping-post-wrapper .overlapping-post .right .replies .reply {
  margin: 1em 0;
}
.overlapping-post-wrapper .overlapping-post .right .replies .reply span:nth-child(1) {
  margin-right: 1em;
  font-weight: 600;
}

::-webkit-scrollbar {
  width: 8px;
  height: 0;
  background: white;
}

::-webkit-scrollbar-track {
  border-radius: 100vw;
  background: white;
}

::-webkit-scrollbar-thumb {
  border: 1px solid #dedeff;
  border-radius: 100vw;
  background: #dedeff;
}

::-webkit-scrollbar-thumb:hover {
  background: #a9ccff;
}

@supports (scrollbar-color: red blue) {
  * {
    scrollbar-color: #030246 #40669c;
  }
}
@media (max-width: 768px) {
  ::-webkit-scrollbar-track {
    margin-top: 0;
  }
}/*# sourceMappingURL=global.css.map */