@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Roboto:wght@100;300;400&family=Ubuntu:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.1;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

.icon {
  height: 30px;
}

li {
  list-style: none;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.body {
  @apply relative flex justify-center gap-4 w-full mx-auto;
  scroll-behavior: smooth;
}

.main-container {
  @apply min-h-[100vh] pt-[2.5vh];
}
.main-container main {
  @apply w-full;
}
.main-container main > p {
  @apply overflow-hidden text-center mt-[25vh] text-xl;
}

.post-container {
  @apply bg-white border-[0.5px] border-solid border-[#80808035] rounded-2xl pt-[2em] pb-[1em] px-[2em] mb-4 mx-auto z-10 cursor-pointer;
}

.post,
.profile-post,
.single-post {
  @apply rounded-2xl;
}
.post ::-webkit-scrollbar-thumb,
.profile-post ::-webkit-scrollbar-thumb,
.single-post ::-webkit-scrollbar-thumb {
  border: 1px solid #dedeff;
  background: #dedeff;
}
.post ::-webkit-scrollbar-thumb:hover,
.profile-post ::-webkit-scrollbar-thumb:hover,
.single-post ::-webkit-scrollbar-thumb:hover {
  background: #a9ccff;
}
.post .left,
.profile-post .left,
.single-post .left {
  @apply self-start flex items-start justify-start flex-col;
  max-height: 95vh;
}
.post .left #title,
.profile-post .left #title,
.single-post .left #title {
  @apply text-xl mt-2 mb-3 font-medium flex items-center;
}
.post .left #desc,
.profile-post .left #desc,
.single-post .left #desc {
  @apply mb-4 text-[.9rem] font-normal overflow-y-auto py-[.25em] leading-snug;
}
.post .right,
.profile-post .right,
.single-post .right {
  @apply w-full self-start flex justify-start items-center flex-col;
}
.post .right .images,
.profile-post .right .images,
.single-post .right .images {
  @apply rounded-xl relative w-full max-h-[90vh] h-fit overflow-hidden;
}
.post .right .images img,
.profile-post .right .images img,
.single-post .right .images img {
  @apply max-w-full w-full h-auto rounded-xl relative;
}
.post .right .mid .links,
.profile-post .right .mid .links,
.single-post .right .mid .links {
  @apply flex justify-end items-center;
}
.post .right .mid .links a,
.profile-post .right .mid .links a,
.single-post .right .mid .links a {
  margin-right: 1em;
}
.post .right .mid .mid-right,
.profile-post .right .mid .mid-right,
.single-post .right .mid .mid-right {
  @apply flex w-full;
}
.post .right .mid .mid-right .likes,
.profile-post .right .mid .mid-right .likes,
.single-post .right .mid .mid-right .likes {
  @apply flex justify-start items-center;
}
.post .right .mid .mid-right p,
.profile-post .right .mid .mid-right p,
.single-post .right .mid .mid-right p {
  @apply ml-4;
}
.post .right .mid .mid-right .bookmark-icon,
.profile-post .right .mid .mid-right .bookmark-icon,
.single-post .right .mid .mid-right .bookmark-icon {
  @apply ml-auto mr-0;
}
.post .right .replies,
.profile-post .right .replies,
.single-post .right .replies {
  @apply w-full;
}
.post .right .replies .reply img,
.profile-post .right .replies .reply img,
.single-post .right .replies .reply img {
  @apply h-[6vh];
}
.post .right .replies .reply span + span,
.profile-post .right .replies .reply span + span,
.single-post .right .replies .reply span + span {
  @apply ml-[1em] font-semibold;
}
.post .right span,
.profile-post .right span,
.single-post .right span {
  @apply mt-[1em] mr-auto mb-0 ml-0 cursor-pointer;
}

.owner .pfp-image {
  @apply h-[6vh] w-[6vh] overflow-hidden flex justify-center items-center mr-[1em] rounded-[50%];
}
.owner .pfp-image img {
  @apply h-[6vh];
}
.owner .username {
  @apply font-semibold;
}

.comment {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.comment form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.comment form textarea {
  @apply w-[85%] px-[1em] py-[.75em] max-h-[15vh] rounded-xl;
  display: flex;
  justify-content: left;
  align-items: center;
  font-family: "Poppins";
}
.comment form input[type=submit] {
  @apply w-[12.5%] px-[1em] py-[.75em] ml-[2.5%] font-medium text-white bg-[#4e67e4] hover:bg-[#2f4de3] border-none rounded-xl cursor-pointer;
}

.light {
  @apply bg-[#f8f8f8];
}

.dark {
  @apply bg-[#1f1f1f];
}
.dark textarea,
.dark input,
.dark .personal-info {
  @apply bg-input-bg-dark border-inner-border-2;
}
.dark .post-container,
.dark #left-bar,
.dark #right-bar div.posts,
.dark .createPost-body,
.dark .profile-body .profile .personal-info,
.dark .notice {
  @apply bg-[#131313] text-[#c9c9c9] border-[#07244f];
}
.dark .post-container .likes svg path,
.dark #left-bar .likes svg path,
.dark #right-bar div.posts .likes svg path,
.dark .createPost-body .likes svg path,
.dark .profile-body .profile .personal-info .likes svg path,
.dark .notice .likes svg path {
  stroke: #c8c8c8;
}
.dark nav#left-bar .nav-container .menu-items > li:not(.logo-container):not(.toggle) > svg,
.dark nav#left-bar .nav-container .menu-items > li:not(.logo-container):not(.toggle) path,
.dark nav#left-bar .nav-container .menu-items > li:not(.logo-container):not(.toggle) rect,
.dark nav#left-bar .nav-container .menu-items > li:not(.logo-container):not(.toggle) circle {
  stroke: #f8f8f8;
}
.dark nav#left-bar .nav-container .menu-items > li:not(.logo-container):not(.toggle) rect,
.dark nav#left-bar .nav-container .menu-items > li:not(.logo-container):not(.toggle) rect + circle {
  fill: #c8c8c8;
}
.dark nav#left-bar .nav-container .menu-items > li:not(.logo-container):not(.toggle):not(.more-item) {
  @apply hover:bg-[#04193b];
}
.dark .profile-body .profile .personal-info .options .settings {
  @apply border-[#3B82F6];
}
.dark .profile-body .profile .personal-info .options .option-list {
  @apply bg-[#07234c];
}
.dark .profile-body .profile .personal-info .options .option-list p:hover,
.dark .profile-body .profile .personal-info .options .option-list div:hover {
  @apply bg-[#082a5b];
}
.dark svg.comment-icon path {
  fill: white;
}

.blue-circle {
  animation-delay: 0.1s;
}

.green-circle {
  animation-delay: 0.2s;
}

.red-circle {
  animation-delay: 0.3s;
}

::-webkit-scrollbar {
  width: 8px;
  height: 0;
  background: white;
}

::-webkit-scrollbar-track {
  border-radius: 100vw;
  background: white;
}

::-webkit-scrollbar-thumb {
  border: 1px solid #dedeff;
  border-radius: 100vw;
  background: #dedeff;
}

::-webkit-scrollbar-thumb:hover {
  background: #a9ccff;
}

@supports (scrollbar-color: red blue) {
  * {
    scrollbar-color: #030246 #40669c;
  }
}
@media (max-width: 768px) {
  ::-webkit-scrollbar-track {
    margin-top: 0;
  }
}/*# sourceMappingURL=global.css.map */