@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Roboto:wght@100;300;400&family=Ubuntu:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.dark_bg {
  filter: brightness(50%);
}

.home-body {
  @apply relative w-[54vw] left-1/2 translate-x-[-53.75%] min-h-[100vh] pt-[5vh] overflow-x-hidden;
}
.home-body main {
  @apply overflow-x-hidden;
  width: 54vw;
}

.post {
  @apply flex justify-center items-center flex-col bg-white border-[0.5px] border-solid border-[#c8c8c8] rounded-sm py-[2em] pl-[2em] mb-[5em] mx-auto w-full;
}
.post ::-webkit-scrollbar-thumb {
  border: 1px solid #dedeff;
  background: #dedeff;
}
.post ::-webkit-scrollbar-thumb:hover {
  background: #a9ccff;
}
.post .left {
  @apply w-[90%] self-start flex items-start justify-start flex-col;
  max-height: 95vh;
}
.post .left #title {
  @apply text-2xl my-2 font-semibold flex items-center;
}
.post .left #desc {
  @apply mb-[1em] overflow-y-auto py-[.25em] pr-[.5em] leading-tight;
}
.post .right {
  @apply w-[90%] self-start flex justify-start items-center flex-col;
}
.post .right .images {
  @apply flex justify-center items-start;
}
.post .right .images img {
  max-height: 60vh;
  min-width: 100%;
}
.post .right .mid {
  @apply flex justify-between items-center my-[1em] w-full;
}
.post .right .mid .links {
  @apply flex justify-end items-center;
}
.post .right .mid .links a {
  margin-right: 1em;
}
.post .right .mid .mid-right {
  @apply flex w-full;
}
.post .right .mid .mid-right .likes {
  @apply flex justify-start items-center;
}
.post .right .mid .mid-right .likes img {
  height: 22px;
  cursor: pointer;
}
.post .right .mid .mid-right svg,
.post .right .mid .mid-right img {
  margin-left: 1rem;
}
.post .right .mid .mid-right .bookmark-icon {
  @apply ml-auto mr-0;
}
.post .right .replies {
  @apply w-full;
}
.post .right .replies .reply span:nth-child(1) {
  @apply mr-[1em] font-semibold;
}
.post .right span {
  @apply mt-[1em] mr-auto mb-0 ml-0 cursor-pointer;
}

.cross {
  @apply cursor-pointer;
}
.cross img {
  @apply h-[30px] w-[30px] absolute left-[-35px];
}

.owner {
  @apply flex justify-start items-center my-2;
}
.owner .pfp-image {
  @apply h-[6vh] w-[6vh] overflow-hidden flex justify-center items-center mr-[1em] rounded-[50%];
}
.owner .pfp-image img {
  @apply h-[6vh];
}
.owner .username {
  @apply font-semibold;
}
.owner .deletePost {
  @apply ml-0 text-[#c20505] cursor-pointer;
}
.owner .editPost {
  @apply mr-[1em] ml-[1em] text-[#4e67e4] cursor-pointer;
}

.comment {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.comment form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.comment form textarea {
  width: 85%;
  max-height: 15vh;
  padding: 0.5em;
  display: flex;
  justify-content: left;
  align-items: center;
  font-family: "Poppins";
}
.comment form input[type=submit] {
  text-align: end;
  width: 15%;
  padding: 0.25em;
  font-size: 1.05rem;
  font-weight: 600;
  color: #4e67e4;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.comments .comments-body {
  background-color: rgb(245, 243, 255);
  height: 90vh;
  width: 72vw;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-34vw, -50%);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.comments .comments-body .left {
  width: 50%;
  height: 100%;
}
.comments .comments-body .left img {
  width: 100%;
  max-height: 75%;
}
.comments .comments-body .left .comment-2 {
  margin: 1em auto;
}
.comments .comments-body .left .comment-2 textarea {
  width: 80%;
}
.comments .comments-body .left .comment-2 input[type=submit] {
  width: 20%;
}
.comments .comments-body .right {
  height: 100%;
  width: 50%;
  overflow-y: auto;
}
.comments .comments-body .right .owner {
  margin-top: 0.5em;
}
.comments .comments-body .right .replies {
  width: 100%;
  margin: 0 auto;
  overflow-y: auto;
  width: 90%;
}
.comments .comments-body .right .replies #title2 {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0.75em 0;
}
.comments .comments-body .right .replies .line {
  width: 90%;
  height: 1px;
  background-color: black;
}
.comments .comments-body .right .replies .reply {
  margin: 1em 0;
}
.comments .comments-body .right .replies .reply span:nth-child(1) {
  margin-right: 1em;
  font-weight: 600;
}/*# sourceMappingURL=home.css.map */