@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Roboto:wght@100;300;400&family=Ubuntu:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$outer-padding: 1.5em 2.5em;
$blue: #40669c;
$light-blue: #c6e7fc;
$light-blue-2: rgb(169, 204, 255);
$dark-blue: #2a4365;
$darker-blue: #062653;

@mixin flex($jc) {
  display: flex;
  justify-content: $jc;
  align-items: center;
}

@mixin grid1() {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(25px, auto);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
    cursor: pointer;
  }
}

.flex-center {
  @include flex(center);
}
.flex-left {
  @include flex(left);
}

nav#left-bar {
  // border: 0.5px solid rgb(200, 200, 200);
  // border-radius: 5px;
  // transform: translateX(50%);
  // color: rgb(150, 150, 150);
  transition: width 0.25s ease-in;
  .nav-container {
    .logo {
      div {
        height: 7vh;
        @include flex(center);
        img {
          height: 100%;
          margin-right: 0;
        }
      }
    }
    p {
      color: black;
      font-size: 1rem;
      font-weight: 400;
      margin-left: 0.5em;
      transition: opacity 0s ease-in 0.125s;
    }
    .menu-items {
      padding-top: 0;
      // box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.9);
      display: flex;
      flex-direction: column;
      height: 100%;

      li:not(.logo-container) {
        @apply hover:bg-gray-200 w-full pl-[1.5vw] cursor-pointer;
        @include flex(left);
        font-family: "Poppins";
        a,
        .more-option {
          @apply w-full;
          color: black;
          display: flex;
          align-items: center;
          div {
            display: flex;
            justify-content: center;
            width: 7vh;
          }
        }
        .icons {
          img {
            height: 3.5vh;
            margin: 0.85rem 0;
          }
          .profile-icon {
            // height: 6vh;
            // width: 6vh;
            aspect-ratio: 1;
            border-radius: 50%;
            border: 2px solid black;
            @include flex(center);
            overflow: hidden;
            margin: 0.5rem 0;
            img {
              height: 3.75vh;
            }
          }
        }
        &:hover {
          // transform: scale(1.1);
          // opacity: 0.5;
          transition: opacity 200ms;
        }
      }
      .profile-item {
        @include flex(flex-end);
        right: 0;
        width: auto;
        // background-color: #c6e7fc;
        background-color: white;
        border-radius: 5px;
        p {
          font-weight: 500;
        }
        .show {
          display: block;
        }
        .dont-show {
          display: none;
        }
        img {
          height: 3.5vh;
        }
        .profile-options {
          ul {
            @include flex(left);
            flex-direction: column;
            padding: 0.5em 1em;
            border: 1.5px solid black;
            border-radius: 5px;
            li {
              cursor: pointer;
              margin-block: 0.25em;
            }
            img {
              margin-right: 0.5em;
            }
            p {
              line-height: 1;
              &:hover {
                color: $blue;
              }
            }
          }
        }
      }
    }
  }
}

.link {
  position: relative;
  // padding-bottom: 0.25em;
  cursor: pointer;
}

.nav-container .hamburger-lines {
  display: none;
}

@media (min-width: 800px) {
  .nav-container .checkbox,
  .nav-container .hamburger-lines {
    display: none;
  }

  .nav-container {
    // max-width: 2000px;
    width: 100%;
  }

  nav .menu-items {
    transform: translateX(0);
    // height: 6rem;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    background-color: transparent;
  }
}
