@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Roboto:wght@100;300;400&family=Ubuntu:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
ul {
  list-style: none;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  cursor: pointer;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-left {
  display: flex;
  justify-content: left;
  align-items: center;
}

nav#left-bar {
  transition: width 0.25s ease-in;
}
nav#left-bar .nav-container .logo div {
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav#left-bar .nav-container .logo div img {
  height: 100%;
  margin-right: 0;
}
nav#left-bar .nav-container p {
  color: black;
  font-size: 1rem;
  font-weight: 400;
  margin-left: 0.5em;
  transition: opacity 0s ease-in 0.125s;
}
nav#left-bar .nav-container .menu-items {
  padding-top: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}
nav#left-bar .nav-container .menu-items li:not(.logo-container) {
  @apply hover:bg-gray-200 w-full pl-[1.5vw] cursor-pointer;
  display: flex;
  justify-content: left;
  align-items: center;
  font-family: "Poppins";
}
nav#left-bar .nav-container .menu-items li:not(.logo-container) a,
nav#left-bar .nav-container .menu-items li:not(.logo-container) .more-option {
  @apply w-full;
  color: black;
  display: flex;
  align-items: center;
}
nav#left-bar .nav-container .menu-items li:not(.logo-container) a div,
nav#left-bar .nav-container .menu-items li:not(.logo-container) .more-option div {
  display: flex;
  justify-content: center;
  width: 7vh;
}
nav#left-bar .nav-container .menu-items li:not(.logo-container) .icons img {
  height: 3.5vh;
  margin: 0.85rem 0;
}
nav#left-bar .nav-container .menu-items li:not(.logo-container) .icons .profile-icon {
  aspect-ratio: 1;
  border-radius: 50%;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 0.5rem 0;
}
nav#left-bar .nav-container .menu-items li:not(.logo-container) .icons .profile-icon img {
  height: 3.75vh;
}
nav#left-bar .nav-container .menu-items li:not(.logo-container):hover {
  transition: opacity 200ms;
}
nav#left-bar .nav-container .menu-items .profile-item {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  right: 0;
  width: auto;
  background-color: white;
  border-radius: 5px;
}
nav#left-bar .nav-container .menu-items .profile-item p {
  font-weight: 500;
}
nav#left-bar .nav-container .menu-items .profile-item .show {
  display: block;
}
nav#left-bar .nav-container .menu-items .profile-item .dont-show {
  display: none;
}
nav#left-bar .nav-container .menu-items .profile-item img {
  height: 3.5vh;
}
nav#left-bar .nav-container .menu-items .profile-item .profile-options ul {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: column;
  padding: 0.5em 1em;
  border: 1.5px solid black;
  border-radius: 5px;
}
nav#left-bar .nav-container .menu-items .profile-item .profile-options ul li {
  cursor: pointer;
  margin-block: 0.25em;
}
nav#left-bar .nav-container .menu-items .profile-item .profile-options ul img {
  margin-right: 0.5em;
}
nav#left-bar .nav-container .menu-items .profile-item .profile-options ul p {
  line-height: 1;
}
nav#left-bar .nav-container .menu-items .profile-item .profile-options ul p:hover {
  color: #40669c;
}

.link {
  position: relative;
  cursor: pointer;
}

.nav-container .hamburger-lines {
  display: none;
}

@media (min-width: 800px) {
  .nav-container .checkbox,
  .nav-container .hamburger-lines {
    display: none;
  }
  .nav-container {
    width: 100%;
  }
  nav .menu-items {
    transform: translateX(0);
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    background-color: transparent;
  }
}/*# sourceMappingURL=nav.css.map */