@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Roboto:wght@100;300;400&family=Ubuntu:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$outer-padding: 1.5em 2.5em;
$blue: #40669c;
$light-blue: #c6e7fc;
$light-blue-2: rgb(169, 204, 255);
$dark-blue: #2a4365;
$darker-blue: #062653;

@mixin flex($jc) {
  display: flex;
  justify-content: $jc;
  align-items: center;
}

@mixin grid1() {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(25px, auto);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
    cursor: pointer;
  }
}

.flex-center {
  @include flex(center);
}
.flex-left {
  @include flex(left);
}

nav {
  z-index: 3;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  border-left: 1px solid black;
  background-color: white;
  width: 16vw;
  svg {
    height: 7vh;
    width: 7vh;
  }
  // transform: translateX(50%);
  .nav-container {
    display: flex;
    position: relative;
    justify-content: right;
    padding: 3vh 1vw 0 0;
    .logo {
      div {
        height: 7vh;
        @include flex(center);
        img {
          height: 100%;
          margin-right: 0;
        }
      }
      padding: 0;
      margin-right: 0;
    }
    p {
      color: black;
      font-size: 1rem;
      font-weight: 400;
      margin-right: 0.75em;
    }
    .menu-items {
      padding-top: 0;
      // box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.9);
      display: flex;
      flex-direction: column;
      height: 100%;

      li {
        @include flex(right);
        padding: 0.9rem 0;
        a,
        .more-option {
          color: black;
          display: flex;
          align-items: center;
          div {
            display: flex;
            justify-content: center;
            width: 7vh;
          }
        }
        .icons {
          img {
            height: 4vh;
          }
        }
        .profile-icon {
          // height: 6vh;
          // width: 6vh;
          aspect-ratio: 1;
          border-radius: 50%;
          border: 2px solid black;
          @include flex(center);
          overflow: hidden;
          img {
            height: 5vh;
          }
        }
        &:hover {
          transform: scale(1.1);
          transition: transform 200ms;
        }
      }
      .profile-item {
        @include flex(flex-end);
        right: 0;
        width: auto;
        // background-color: #c6e7fc;
        background-color: white;
        border-radius: 5px;
        p {
          font-weight: 500;
        }
        .show {
          display: block;
        }
        .dont-show {
          display: none;
        }
        img {
          height: 4vh;
        }
        .profile-options {
          ul {
            @include flex(left);
            flex-direction: column;
            padding: 1em 2.5em;
            border: 1.5px solid black;
            border-radius: 5px;
            li {
              cursor: pointer;
            }
            img {
              margin-right: 0.5em;
            }
            p {
              line-height: 1;
              &:hover {
                color: $blue;
              }
            }
          }
        }
      }
    }
  }
}

.link {
  position: relative;
  // padding-bottom: 0.25em;
  cursor: pointer;
  // &:hover {
  //   transform: scale(1.1);
  //   transition: transform 200ms;
  // }
  // &::after {
  //   content: "";
  //   position: absolute;
  //   left: 0;
  //   bottom: 0;
  //   width: 100%;
  //   height: 2px;
  //   background: rgb(13, 13, 103);
  //   border-radius: 5px;

  //   transform: scaleX(0);
  //   transform-origin: right;
  //   transition: transform 250ms ease-in;
  // }

  // &:hover::after {
  //   transform: scaleX(1);
  //   transform-origin: left;
  // }
}

.nav-container .hamburger-lines {
  display: none;
}

@media (min-width: 800px) {
  .nav-container .checkbox,
  .nav-container .hamburger-lines {
    display: none;
  }

  .nav-container {
    // max-width: 2000px;
    width: 100%;
  }

  nav .menu-items {
    transform: translateX(0);
    // height: 6rem;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    background-color: transparent;
  }
}
