@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Roboto:wght@100;300;400&family=Ubuntu:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$blue: #2e5fdc;
$light-blue: #dcebf5;
$light-blue-2: #9eb7f4;
$dark-blue: #050b4b;
$dark-blue-2: #1b0798;

@mixin flex($jc) {
  display: flex;
  justify-content: $jc;
  align-items: center;
}

@mixin grid1() {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(25px, auto);
}

.profile-body {
  background-color: rgb(175, 175, 254);
  overflow: hidden;
  @include flex(left);
  //   div {
  //     border: 2px solid red;
  //   }
  .profile {
    // outline: dashed;
    margin-top: 5vh;
    margin-left: 5vw;
    width: 80%;
    .personal-info {
      @include flex(left);
      width: 100%;
      img {
        border-radius: 50%;
        height: 30vh;
      }
      .text {
        margin-left: 5vw;
        height: 30vh;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        .userName {
          font-size: 2.5vw;
          font-weight: 500;
          margin-bottom: 0.5em;
        }
        .desc {
          max-width: 70%;
          height: 5em;
          line-height: 1.25;
        }
      }
      .numbers {
        width: 100%;
        @include flex(left);
        font-size: 2vw;
        font-weight: 500;
        p {
          margin-right: 2em;
        }
      }
    }
    .line {
      width: 100%;
      height: 3px;
      //   background-color: red;
      background: rgb(233, 64, 107);
      background: linear-gradient(
        90deg,
        rgba(233, 64, 107, 0.048261540944502) 0%,
        rgba(171, 22, 62, 0.53) 50%,
        rgba(222, 37, 88, 0.048261540944502) 100%
      );
      margin: 6vh 0;
    }
    .post-type {
      @include flex(center);
      margin-bottom: 2em;
      p:nth-child(odd) {
        font-size: 1.25rem;
        font-weight: 500;
        color: $dark-blue;
      }
      p:nth-child(2) {
        font-size: 2rem;
        font-weight: 500;
        color: white;
        margin: 0 1em;
      }
    }
    .posts {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10vh 5vw;
      margin-bottom: 10vh;
      .post {
        border-radius: 10px 0 10px 0;
        width: 100%;
        background-color: $light-blue-2;
        section:nth-child(1) {
          @include flex(center);
          // height: 15vh;
          border-radius: 10px 0 0 0;
          font-size: 1rem;
          font-weight: 500;
          padding: 1em 0;
          //   text-align: center;
          //   padding: 0.75em 0;
          background-color: $dark-blue-2;
          color: white;
        }
        section:nth-child(2) {
          @include flex(space-between);
          img {
            // height: 25vh;
            width: 50%;
          }
          div {
            width: 50%;
            @include flex(center);
            flex-direction: column;
            p {
              margin: 0.5em 0;
            }
          }
        }
      }
    }
  }
}
