@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Roboto:wght@100;300;400&family=Ubuntu:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.overlapping-post {
  position: fixed;
  width: 75vw;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.profile-body {
  @apply min-h-[100vh] flex justify-start items-start;
}
.profile-body .profile .personal-info {
  @apply mx-auto flex relative justify-start items-center w-full rounded-sm px-8 pt-8 pb-12 border-[1px] border-[#c8c8c8] bg-white z-10;
}
.profile-body .profile .personal-info > div:nth-child(1) {
  @apply relative grid place-items-center gap-0;
}
.profile-body .profile .personal-info > div:nth-child(1) .pfp-container {
  @apply h-[28vh] w-[28vh] relative flex justify-center items-center bg-transparent;
  border-radius: 50%;
}
.profile-body .profile .personal-info > div:nth-child(1) .pfp-container .border-cover {
  @apply h-[14vh] w-[28vh] absolute z-[-1] bg-transparent bottom-0;
}
.profile-body .profile .personal-info > div:nth-child(1) .pfp-container .border {
  border-radius: 50%;
  @apply h-[28vh] w-[28vh] absolute z-[-2] border-[1px] border-[#c8c8c8];
}
.profile-body .profile .personal-info > div:nth-child(1) .pfp-container .pfp-img-wrapper {
  @apply h-[26vh] w-[26vh] overflow-hidden rounded-[50%];
}
.profile-body .profile .personal-info > div:nth-child(1) .pfp-container .pfp-img-wrapper img.pfp {
  @apply h-full object-cover object-center;
}
.profile-body .profile .personal-info .options {
  @apply absolute right-9 self-start flex justify-center items-center flex-col mt-2;
}
.profile-body .profile .personal-info .options button {
  @apply rounded-2xl border-black border-[1px] px-4 py-2;
  cursor: pointer;
}
.profile-body .profile .personal-info .options .option-list {
  @apply absolute top-0 mt-12 bg-white border-[1px] rounded-sm border-black py-2;
}
.profile-body .profile .personal-info .options .option-list input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.profile-body .profile .personal-info .options .option-list input[type=file]::-webkit-file-upload-button {
  cursor: pointer;
}
.profile-body .profile .personal-info .options .option-list p,
.profile-body .profile .personal-info .options .option-list div {
  white-space: nowrap;
  cursor: pointer;
  @apply box-border;
}
.profile-body .profile .personal-info .options .option-list p:hover,
.profile-body .profile .personal-info .options .option-list div:hover {
  @apply bg-gray-300;
}
.profile-body .profile .personal-info .options .option-list p {
  @apply px-4 py-3;
}
.profile-body .profile .personal-info .text {
  @apply self-start mt-2 ml-8 w-[60%] flex flex-col items-start justify-start;
}
.profile-body .profile .personal-info .text .userName {
  @apply text-3xl font-medium;
}
.profile-body .profile .personal-info .text .position {
  @apply mt-2 mb-3 text-base;
}
.profile-body .profile .personal-info .text .numbers {
  @apply flex justify-start items-center text-lg font-light mb-3;
}
.profile-body .profile .personal-info .text .numbers div {
  @apply flex justify-center;
}
.profile-body .profile .personal-info .text .numbers div p {
  @apply mr-1 font-semibold;
}
.profile-body .profile .personal-info .text .numbers div + div {
  @apply ml-[2em];
}
.profile-body .profile .personal-info .text .numbers .special-links-container {
  @apply flex justify-start;
}
.profile-body .profile .personal-info .text .numbers .special-links-container img {
  @apply h-[4vh] mr-3;
}
.profile-body .profile .personal-info .text .bio {
  @apply mt-2 max-w-full text-sm leading-5;
}
.profile-body .profile .personal-info .follow {
  align-self: flex-end;
}
.profile-body .profile .personal-info .follow button {
  border: none;
  border-radius: 5px;
  font-size: 1.5vw;
  padding: 0.5em 0.75em;
}
.profile-body .profile .personal-info .follow button:hover {
  color: black !important;
}
.profile-body .profile .posts {
  @apply w-full mb-[7.5vh];
}
.profile-body .profile .posts > p {
  @apply text-center py-16 text-lg font-medium;
}
.profile-body .profile .notices > p {
  @apply text-center py-16 text-lg font-medium;
}

#bioDialog {
  @apply absolute w-1/4 top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%] border-[1px] border-[#c8c8c8] rounded-md;
}
#bioDialog form {
  @apply p-4;
}
#bioDialog form > input {
  @apply w-full px-4 py-3 mb-4 border-[1px] border-black rounded-md;
}
#bioDialog form div {
  @apply flex justify-between;
}
#bioDialog form div button {
  @apply p-4 rounded py-2 px-6 text-sm font-medium bg-gray-400 text-white hover:bg-gray-500 cursor-pointer;
}
#bioDialog form div input {
  @apply p-4 rounded py-2 px-6 text-sm font-medium bg-blue-500 text-white hover:bg-blue-600 cursor-pointer;
}/*# sourceMappingURL=profile.css.map */