@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Roboto:wght@100;300;400&family=Ubuntu:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$blue: #2e5fdc;
$light-blue: #dcebf5;
$light-blue-2: #9eb7f4;
$light-blue-3: rgb(247, 249, 255);
$dark-blue: #050b4b;
$dark-blue-2: #1b0798;
$dark-blue-3: #3522af;
$outer-padding: 1.5em 2.5em;
$darker-blue: #062653;
$image-width: 90%;
$image-height: 60vh;
$left-height: 75vh;
$post-height: 95vh;
$post-width: 80vw;

@mixin flex($jc) {
  display: flex;
  justify-content: $jc;
  align-items: center;
}

@mixin grid1() {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(25px, auto);
}

.overlapping-post {
  position: fixed;
  width: 75vw;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.profile-body {
  @apply min-h-[100vh] overflow-hidden flex justify-start items-start;
  // background-color: $light-blue-3;

  .profile {
    // outline: dashed;
    margin-top: 5vh;
    margin-left: 21vw;
    width: 54vw;
    // & > div:nth-child(1) {
    //   @apply mx-auto  h-[22.5vh] w-[83%] bg-[#d09aff] rounded-t-md;
    // }
    .personal-info {
      @apply mx-auto flex relative justify-start items-center w-full rounded-sm px-8 pt-8 pb-12 border-[1px] border-[#c8c8c8] bg-white z-10;

      & > div:nth-child(1) {
        @apply relative grid place-items-center gap-0;

        .pfp-container {
          @apply h-[28vh] w-[28vh] relative flex justify-center items-center bg-transparent;
          border-radius: 50%;
          .border-cover {
            @apply h-[14vh] w-[28vh] absolute z-[-1] bg-transparent bottom-0;
          }
          .border {
            border-radius: 50%;
            @apply h-[28vh] w-[28vh] absolute z-[-2] border-[1px] border-[#c8c8c8];
          }
          .pfp-img-wrapper {
            @apply h-[26vh] w-[26vh] overflow-hidden rounded-[50%];
            img.pfp {
              @apply h-full object-cover object-center;
            }
          }
        }
      }
      .options {
        @apply absolute right-9 self-start flex justify-center items-center flex-col mt-2;

        button {
          @apply rounded-2xl border-black border-[1px] px-4 py-2;
          cursor: pointer;
          // transform: rotateZ(45deg);;
        }
        .option-list {
          // text-align: center;
          @apply absolute top-0 mt-12 bg-white border-[1px] rounded-sm border-black py-2;

          input {
            position: absolute;
            // width: 100%;
            opacity: 0;
            cursor: pointer;
          }
          input[type="file"]::-webkit-file-upload-button {
            cursor: pointer;
          }
          p,
          div {
            white-space: nowrap;
            cursor: pointer;
            @apply box-border;
            &:hover {
              @apply bg-gray-300;
            }
          }
          p {
            @apply px-4 py-3;
          }
        }
      }

      .text {
        @apply self-start mt-2 ml-8 w-[60%] flex flex-col items-start justify-start;

        // height: 30vh;
        // max-height: 40vh;
        .userName {
          @apply text-3xl font-medium;
        }
        .position {
          @apply mt-2 mb-3 text-base;
        }
        .numbers {
          @apply flex justify-start items-center text-lg font-light mb-3;
          div {
            @apply flex justify-center;
            p {
              @apply mr-1 font-semibold;
            }
          }
          div + div {
            @apply ml-[2em];
          }
          .special-links-container {
            @apply flex justify-start;
            img {
              @apply h-[4vh] mr-3;
            }
          }
        }
        .bio {
          @apply mt-2 max-w-full text-sm leading-5;
        }
      }
      .follow {
        align-self: flex-end;
        button {
          border: none;
          border-radius: 5px;
          font-size: 1.5vw;
          padding: 0.5em 0.75em;
          &:hover {
            color: black !important;
          }
        }
      }
    }
    .posts {
      @apply w-full mb-[10vh];
      & > p {
        @apply text-center py-16 text-lg font-medium;
      }
    }
    .notices {
      & > p {
        @apply text-center py-16 text-lg font-medium;
      }
    }
  }
}

#bioDialog {
  @apply absolute w-1/4 top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%] border-[1px] border-[#c8c8c8] rounded-md;
  form {
    @apply p-4;
    & > input {
      @apply w-full px-4 py-3 mb-4 border-[1px] border-black rounded-md;
    }
    div {
      @apply flex justify-between;
      button {
        @apply p-4 rounded py-2 px-6 text-sm font-medium bg-gray-400 text-white hover:bg-gray-500 cursor-pointer;
      }
      input {
        @apply p-4 rounded py-2 px-6 text-sm font-medium bg-blue-500 text-white hover:bg-blue-600 cursor-pointer;
      }
    }
  }
}
